@model IEnumerable<IssueManagerM.Models.ViewModels.QuestionOutlineViewModel>


<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Title)</th>
            <th>@Html.DisplayNameFor(m=>m.CreateDate)</th>
            <th>@Html.DisplayNameFor(m=>m.State)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Q in Model)
        {
            <tr>
                <th>@Q.Title</th>
                <th>@Q.CreateDate</th>
                <th>@Q.State</th>
                <th>@Html.ActionLink("內容","QuestionDetail",new { QID=Q.QID})</th>
            </tr>
        }
    </tbody>  
</table>

